[submodule "lib/Adafruit_MCP23017"]
	path = lib/Adafruit_MCP23017
	url = https://github.com/adafruit/Adafruit-MCP23017-Arduino-Library.git
[submodule "lib/AccelStepper"]
	path = lib/AccelStepper
	url = https://github.com/waspinator/AccelStepper.git
